.product-item {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 15px 10px;
  border-radius: 4px;
  position: relative;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .name {
    font-size: 16px;
    font-weight: 500;
    padding-right: 15px;
  }

  .price {
    font-size: 12px;
    font-weight: 300;
  }
}
